@mixin button($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
  border: none;
  padding: 12px 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.082);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0px;
  cursor: pointer;
}
