.input {
  display: flex;
  flex-direction: column;
  & input {
    padding: 11px 10px;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.096);
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 16px;
    &::placeholder {
      color: rgb(190, 190, 190);
    }
  }
  & label {
    margin-bottom: 10px;
  }
}
