@import "styles/mixins.scss";
@import "styles/colors.scss";

.leasing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  & h1 {
    margin-bottom: 40px;
    font-size: 33px;
  }
  & form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    & button[type="submit"] {
      @include button($yellow, white);
      margin: 12px 0;
    }
  }
  & button[id="submit-btn"] {
    @include button(rgb(102, 156, 102), white);
    position: absolute;
    width: 100%;
    bottom: -45px;
  }
}
