@import "styles/mixins.scss";

.leasing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
  & h1 {
    margin-bottom: 40px;
    font-size: 33px;
  }
  & form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    & button[type="submit"] {
      @include button(#fe5e3edc, #ff8025d0, white);
      margin: 12px 0;
    }
  }
  & button[id="submit-btn"] {
    @include button(#64c08e, #64c08dda, white);
    position: absolute;
    width: 100%;
    bottom: -45px;
    & div[data-testid="tail-spin-loading"] {
      justify-content: center !important;
    }
  }
}
